.conteiner{
    width: 100px;
    background-color: brown;
    display: flex;
    flex-direction: column-reverse;
    
}
.items {
    height: 100px;
}
.item1 {
    background-color: #8a2be2;
    flex:1;
}
.item2 {
    background-color: hsl(192, 76%, 53%);
    flex:1;
}